@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');

.app-container {
  /* height: 100%; */
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(21,21,24,1) 25%, rgba(88,103,106,1) 100%); */
}

/* * {
    font-family: 'Sulphur Point',sans-serif;
} */

.show {
  color: whitesmoke;
}

h1 {
  display: inline-block;
}

h6 {
  display: inline-block;
  border: 0.5px solid whitesmoke;
  border-radius: 21%;
  margin-left: 3%;
  margin-top: 3%;
  padding: 3px;
}

.price {
  font-size: 70px;
}

.name {
  margin-top: 7%;
  font-size: 55px;
}

.scroll {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 90%;
  /* max-height: 450px; */
  /* overflow: auto;  */
}

.banner {
  font-size: 12px;
  background-color: rgb(72, 8, 115);
  color: white;
}

.index-col {
  margin: auto;
}

.index-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
*/ .trend-container {
  display: flex;
  flex-direction: column;
  border: solid 3px red;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

.scroll-show {
  max-height: 70%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: inherit;
  max-width: 100%;
  margin-top: 50px;
}

.graph {
  margin-left: auto;
  padding-right: 0%;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
