 .app-container {
    /* height: 100%; */
    position: absolute;
    width:100%;
    left:0;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(21,21,24,1) 25%, rgba(88,103,106,1) 100%);
}

.show {
    color: whitesmoke;
}

h1 {
    display: inline-block;
}

h6 {
    display: inline-block;
    border: .5px solid whitesmoke;
    border-radius: 21%;
    margin-left: 3%;
    margin-top: 3%;
    padding: 3px;
} 

.price {
    font-size: 70px;
}

.name {
    margin-top: 7%;
    font-size: 55px;
}

.scroll {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: 90%; 
    /* max-height: 450px; */
    /* overflow: auto;  */
 }

/* .banner{
    padding-top: 1%;
} */